<template>
	<li
		v-tooltip="{
			content: $route.path != '/learning-areas/' + learningarea.Slug ? learningarea.Blurb : '',
			delay: { show: 500, hide: 250 }
		}"
	>
		<nuxt-link
			:class="[
				{'-already-here': $route.path === '/learning-areas/' + learningarea.Slug},
				'-' + learningarea.Slug
			]"
			:to="'/learning-areas/' + learningarea.Slug"
			:title=learningarea.Title
		>
			{{ learningarea.Title.replace(" ", "&nbsp;") }}

		</nuxt-link>
	</li>
</template>


<script>

export default {
	props: {
		learningarea: {
			required: true
		},

	}
}

</script>


<style lang="scss">

.learning-areas-menu
{
	li {

		color: #fff;
		font-size: 1.25rem;
		padding-left: 0rem;
		padding-right: 0rem;
		transition: all 0.125s ease;
		vertical-align: middle;

		&::before {

			content: '•';
			padding-left: 0.5rem;
		}

		&:first-child:before {

			content: none;
		}

		&:last-child {

			padding-right: 0;
		}

		a:hover {

			text-shadow: 0 0 0.125em #fff;
		}

		@media ($for-reduced-more) {

			font-size: 1.25rem !important;
		}

		@media ($for-mobile)  {

			font-size: 1.125rem !important;
		}

		@media ($for-mobile-vertical)  {

			font-size: 1rem !important;
			line-height: 1.5;
		}
	}

	// Cheating with our BEM architecture here: utilizing parent modifier to modify child

	&.-homepage li {

		@media ($for-non-mobile)  {

			font-size: 2rem;
		}

		@media ($for-reduced) and ($for-non-mobile) {

			font-size: 1.75rem;
		}

		@media ($for-reduced-more) and ($for-non-mobile) {

			font-size: 1.25rem;
		}

	}

	&.-already-here li {

		color: #eee;

		@media ($for-fullsize) {
			font-size: 1.5rem;
			line-height: 2.5rem;
		}

		a {

			@media ($for-non-mobile) {

				vertical-align: middle;
			}

			@media ($for-reduced)  {

				color: #ccc;
			}
		}

		a.-already-here {

			color: #fff;
			font-weight: 400;
			text-shadow: none;

			@media ($for-mobile) {

				font-weight: 500;
			}

			@media ($for-fullsize)  {

				font-size: 2.5rem;
				vertical-align: middle;
			}

			@media ($for-reduced) and ($for-non-mobile) {

				font-size: 1.25rem;
				font-weight: 500;
				color: #fff;
			}
		}
	}
}

</style>