<template >

<section id="activities" class="activities-deck">

     <div @click="wrapping = !wrapping" class="_layout-toggler">
          <fa :icon="['fas', 'th']" :class="{ '-on': !wrapping }" />
          <fa :icon="['fas', 'arrows-alt-h']" :class="{ '-on': wrapping } "/>
     </div>

     <div class="_pre-activities-deck">
          <h2 class="_activities-deck-header -section-title">
               Classroom Activities
          </h2>
          <p v-if="$route.path !== '/'" class="_learning-area-reminder -learning-area-title">
               {{ $route.params.Slug.replace('-', ' ') | capitalize }}
          </p>
     </div>

     <div
          :class="[ '_activities-deck-inner', '-bg-aztec', '-scroll-area', { '-wrapping': wrapping } ]"
     >
          <activities-deck-item
               v-for="(activity, index) in filteredActivites"
               :key="activity.id"
               :title="activity.Title"
               :slug="activity.Slug"
               :images="activity.Images"
               :objectives="activity.Objectives"
               :learningAreas="activity.LearningAreas"
               :index="index"
          >
          </activities-deck-item>
     </div>

     <div class="_post-activities-deck"></div>

</section>

</template>


<script>

import ActivitiesDeckItem from '@/components/ActivitiesDeck/item';
import allActivities from '@/queries/activities.gql';

export default {
     components: {
          ActivitiesDeckItem,
     },
     data () {
          return {
               activities: [],
               wrapping: false,
          }
     },
     mounted() {
          if (localStorage.ActivitiesWrapping)
          {
               this.wrapping = (localStorage.ActivitiesWrapping == "true"); // Convert localStorage's string back to boolean
          }
     },
     apollo: {
          activities: {
               prefetch: true,
               query: allActivities,
               variables() {
                    return {
                         slug: this.slug,
                    };
               },
               // pollInterval: 10000 
          },
     },
     computed: {
          filteredActivites() {
               // Thanks to https://jsfiddle.net/8d9nx0mz/79/ !!!
               let thisLearningArea =  this.$route.params.Slug;
               let activities = this.activities;
               if (thisLearningArea) {
                    activities = activities.filter(a => {
					let foundLearningArea = a.LearningAreas.findIndex((l) => {
                              return l.Slug === thisLearningArea
                         })
                    return foundLearningArea !== -1
                    })
               }
               return activities;
          }
     },
     filters: {
          capitalize: function (value) {
               if (!value) return '';
               value = value.toString();
               return value.charAt(0).toUpperCase() + value.slice(1);
          }
     },
     watch:{
          wrapping(wrappingInput) {
               localStorage.ActivitiesWrapping = wrappingInput;
          },
     }
}
</script>


<style lang="scss">

.activities-deck {

     background-color: $copper-red;
     position: relative;
}

     ._pre-activities-deck {

          color: #fff;
          height: 1rem;

          h2 {

               font-size: 4.5rem;
               font-weight: 200;

               @media($for-mobile) {

                    font-size: 3.5rem;
                    line-height: 6rem;
               }
          }

          ._learning-area-reminder {

               font-size: 1.75rem;
               line-height: normal;
               margin-top: -1.25rem;

               @media($for-mobile) {

                    font-size: 1.25rem;
               }
          }
     }

     ._activities-deck-inner {

          align-items: flex-start;
          display: flex;
          justify-content: flex-start;
          margin: 0 auto;
          overflow: scroll;
          padding-bottom: 2rem;
          padding-left: 3rem;
          padding-right: 3rem;
          padding-top: 8.5rem;
          transition: all 0.25s;

          @media($for-mobile) {

               padding-bottom: 1rem;
               padding-left: 1rem;
               padding-top: 6rem;
          }

     }

     ._post-activities-deck {

          height: 1rem;
     }

</style>