<template>

<article
	:class="['activity-card', '-activity' ]"
>
	<nuxt-link :to="'/activities/' + slug + '/' ">

		<figure class="_thumb">
			<v-lazy-image
				:alt="title"
				v-for="image in images.slice(0,1)"
				:key="image.public_id"
				:src="processImageURL(image.url, '302')"
			/>
		</figure>

		<ul class="_related-learning-areas">
			<li
				v-for="learningArea in learningAreas"
				class="-learning-area-title"
				:key="learningArea.id"
			>
				{{ learningArea.Title }}
			</li>
		</ul>

		<h1 class="_title -activity-title">
			{{ title }}
		</h1>

		<div
			v-if="objectives"
			class="_objectives -activity-objectives"
			v-html="$md.render(objectives)"
		/>

	</nuxt-link>

</article>

</template>


<script>

export default {
	props: {
		title: {
			required: true
		},
		slug: {
			required: true
		},
		images: {
			required: true
		},
		objectives: {
			required: true
		},
		learningAreas: {
			required: true
		},
	},
	methods: {
		processImageURL(url, width) {
			let code = url.substring(url.lastIndexOf('/') + 1);
			let newURL = 'https://res.cloudinary.com/via-montessori/image/upload/if_w_gt_' + width + ',c_scale,w_' + width + '/q_auto:good,e_auto_color,e_auto_brightness,e_auto_contrast/' + code;
			return newURL;
		}
	}
}

</script>


<style lang="scss">

article.activity-card {

	background: #fff;

	border: {
		bottom: 1px solid #777;
		left: 1px solid #999;
		right: 1px solid #999;
		top: 1px solid #aaa;
		radius: 1rem;
	}

	box-shadow: 1px 1px 2px #999;
	margin: 0.75rem;
	max-width: 21rem;
	min-width: 21rem;
	opacity: 0.8;
	overflow: hidden;
	padding: 1rem;
	position: relative;
	text-align: left;
	transform: rotate(4deg);
	transition: all 0.2s ease;
	width: 21rem;

	&:hover {

		opacity: 1;
		transform: scale(1.1) rotate(-6deg);
		z-index: 99;

		._related-learning-areas li {

			opacity: 1;
			transition: all 0.2s ease;
		}

		._objectives  {

			transition: all 0.2s ease;
			opacity: 1;
		}
	}

	._thumb {

		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		margin-bottom: 0;

		img
		{

			max-height: 20rem;
			object-fit: cover;
			width: 100%;
		}

		img[lazy=loading] {

			height: 12rem;
			// background: $smokey-topaz;
		}
	}

	._related-learning-areas {

		float: right;
		font-size: 0.9rem;
		list-style: none;
		margin: 0;
		max-width: 60%;
		padding-left: 0.5rem;
		text-align: right;

		li {

			opacity: 0.01;
			transition: all 0.2s ease;

			&::before {

				content: '•';
			}

			&:first-of-type::before {

				content: '';
			}
		}
	}

	h1
	{
		color: #a73820;
		line-height: 1.1em;

		padding: {
			bottom: 0.5rem;
			left: 0;
			right: 0;
		}

		font-size: 1.75rem;
	}

	._objectives {

		opacity: 0;

		@media($for-mobile) {

			opacity: 1;
		}


		ul {
			list-style: disc outside none;
			padding-left: 1em;
		}
	}
}

// From the parent -- is there a more correct protocol to be doing this?
._activities-deck-inner:hover article.activity-card {

	transition: all 0.2s ease;
}

</style>