<template>

     <div class="_attribution -attribution">
          <p class="-date">
               <time :datetime="date | moment('YYYY-MM-DD')">
                    <!-- {{ date | moment("dddd, MMMM Do, YYYY") }} -->
                    {{ date | moment("MMMM Do, YYYY") }}
               </time>
          </p>
          <p>
               <span
                    class="-person-name"
                    v-for="(author, index) in authors"
                    :key="author._id"
               >
                    <span v-if="index > 0 && index != authors.length - 1" >, </span>
                    <span v-if="index != 0 && index == authors.length - 1" >&nbsp;& </span>
                    <nuxt-link v-if="include_link !== 'n'" :to="'/educators/' + author.Slug">
                         {{ author.username }}
                    </nuxt-link>
                    <span v-else>
                         {{ author.username }}
                    </span>

               </span>
          </p>
     </div>

</template>


<script>

export default {

     props: {
          authors: {
               required: true
          },
          date: {
               required: true
          },
          include_link: {
          },
     },

}

</script>

<style lang="scss">


</style>