<template>

<article
     :class="['content-holder', '-learning-area', '-single-entry', '-bg-aztec', '-' + $route.params.Slug ]"
>
     <div class="_article-inner">

          <h1>{{ learningarea.Title }}</h1>

          <div class="_blurb" v-html="$md.render(learningarea.Blurb)"></div>

          <div class="_body-outer">

               <div class="_body" v-html="$md.render(learningarea.Body)"></div>

          </div>

     </div>

</article>

</template>


<script>

export default {
     props: {
          learningarea: {
               required: true
          },
     },
     head () {
          return {
               title: this.learningarea.Title, //  + ' | Learning Areas'
               meta: [
               {
                    hid: 'description',
                    name: 'description',
                    content: this.learningarea.Blurb
               }]
          }
     },
}

</script>


<style lang="scss">

article.-learning-area
{
     background-color: #fff;
     padding: 0;

     ._article-inner {

          background-color: #fff;
          opacity: 0.9;

          h1 {

               display: none;
          }

          ._blurb {

               padding-bottom: 2.25rem;
               padding-top: 3.5rem;

               @media ($for-mobile)  {

                    padding-bottom: 0.75rem;
                    padding-top: 1.75rem;
               }

               p {

                    font-weight: 400;

                    @media ($for-non-mobile) {

                         font-size: 2rem;
                         line-height: 1.67;
                    }
               }
          }
     }
}

</style>