<template>

<footer :class="['footer', '-' + $route.params.Slug, {'-homepage': $route.path === '/'} ]">

	<ul v-if="$route.path !== '/'" class="_sections-menu -section-title">
		<li>
			<nuxt-link :to="'/#articles'">
				Articles & Discussions
			</nuxt-link>
		</li>
		<li>
			<nuxt-link :to="'/#activities'">
				Classroom Activities
			</nuxt-link>
		</li>
		<!--
		<li>
			<nuxt-link :to="'/educators/'" >Educators</nuxt-link>
			&amp;&nbsp;<nuxt-link :to="'/positions/'" >Positions</nuxt-link>
		</li>
		-->
	</ul>

	<p v-if="$route.path !== '/'" :class="[ '_tagline', '-tagline', { '-homepage': $route.path === '/' } ]">
		For today&rsquo;s Casa&nbsp;dei&nbsp;Bambini.
	</p>

	<maria-museum/>

	<!--
	<ul class="_menu -menu-title">
		<li>
			<nuxt-link :to="'/methods/'" class="-hover-color">
				Mixed Ages
			</nuxt-link>
		</li>
		<li>
			<nuxt-link :to="'/values/'" class="-hover-color">
				Personal Responsibility
			</nuxt-link>
		</li>
		<li>
			<nuxt-link :to="'/learning-areas/'" class="-hover-color">
				Learning Areas
			</nuxt-link>
		</li>
	</ul>
	-->


	<section class="_final">

		<a class="_contact-box -url -hover-color" href="mailto:mail@via-montessori.org">
			mail@via-montessori.org
		</a>

		<nav class="_about-us">
			<ul>
				<li>
					<nuxt-link :to="'/articles/what-is-montessori-education'">
						What is Montessori education?
					</nuxt-link>
				</li>
				<li>
					<nuxt-link :to="'/articles/about-us'">
						About Via Montessori
					</nuxt-link>
				</li>
			</ul>
		</nav>

		<p class="_links -meta">
			<!-- is made with ♥ in 🇬🇧 -->
			<span class="_website">
				<span >
					Visit
					<nuxt-link :to="'/'">
						https://via-montessori.com
					</nuxt-link>
				</span>
			</span>
			<span class="_rss-feed">
				Subscribe to the
				<nuxt-link :to="'/feed'" title="RSS Feed">
					RSS&nbsp;feed&nbsp;<fa :icon="['fas', 'rss-square']" />
				</nuxt-link>
			</span>
		</p>

		<p class="_credits -meta">
			<span>Made&nbsp;in&nbsp;England</span>
			<span>by&nbsp;<nuxt-link :to="'/educators/roberta-frosolini'" class="-person-name -hover-color">Roberta&nbsp;Frosolini</nuxt-link></span>
			<span>with&nbsp;<a target="_blank" class="-hover-color" rel="noopener" href="http://engaging.net">Engaging</a></span>
			<!-- <br>to explore Dr Maria Montessori’s way of nurturing our children -->
		</p>

	</section>

</footer>

</template>


<script>

import MariaMuseum from '@/components/TheFooter/MariaMuseum/';

export default {
	components: {
		MariaMuseum
	},
}

</script>


<style lang="scss">

.footer {

	background: radial-gradient(88% 90% ellipse at bottom center, #800909 50%, #757676, #fdcf58  );
	margin: 0 auto;
	padding: 1rem;
	padding-top: 4rem;
	text-align: center;

	@media ($for-mobile)  {

		background: linear-gradient( #fdcf58, #757676, #800909 47.5%);
		padding-top: 0.75rem; // visually 1rem
	}

	._sections-menu {

		display: flex;
		justify-content: center;
		line-height: 3em;
		margin: 0;
		padding: 0;

		@media ($for-mobile)  {

			flex-wrap: wrap;
			margin-top: 0.75rem;
		}

		li {

			color: #000;
			font-size: 3.5rem;
			list-style: none;
			padding-left: 0.75rem;
			padding-right: 0.75rem;

			@media ($for-mobile) {

				font-size: 2.5rem;
				line-height: 0.95;
			}

			a:hover {

				text-shadow: 0 0 0.125em #757676;
			}
		}
	}

	._tagline {

		font-size: 2.5rem;
		font-style: normal;
		line-height: 1.34em;
		padding-top: 0.5rem;

		@media ($for-mobile)  {

			font-size: 1.5rem;
			line-height: 1.125;
			margin-bottom: 1rem;
			margin-left: auto;
			margin-right: auto;
			padding-top: 0.25rem;
			width: 61.8%;
		}
	}

	._about-us {

		color: #fff;
		font-weight: 500;

		@media($for-non-mobile) {

			font-size: 1.25rem;
		}

		ul {

			display: flex;
			justify-content: center;
			padding: 0;

			li {

				display: block;
				font-weight: 700;
				list-style: none;
				margin-left: 0.125rem;
				margin-right: 0.125rem;

				@media($for-mobile) {

					background: #a73820;
					border-radius: 0.5rem;
					margin-bottom: 0;
					margin-left: 0.75rem;
					margin-right: 0.75rem;
					margin-top: 1.25rem;
					max-width: 12rem;
					padding-bottom: 0.5rem;
					padding-left: 0.75rem;
					padding-right: 0.75rem;
					padding-top: 0.5rem;
					vertical-align: middle;
					width: 50%;
				}

				a {

					color: #fdcf58;

					&:hover {

						color: #fff !important;
					}
				}
			}

			li::before {

				@media($for-non-mobile) {

					content: '●';
				}
			}

			li:first-of-type::before {

				content: ' '; // Space is necessary for Safari otherwise it wraps the link
			}
		}
	}

	._final {

		color: #fff;
		padding-top: 0.5rem;

		@media($for-non-mobile) {

			font-size: 1.25rem;
		}

		._contact-box {

			border-radius: 0.5rem;
			border: 0.125rem solid #fdcf58;
			color: #fdcf58;
			display: inline-block;
			font-weight: 500;
			margin-bottom: 0.5rem;
			padding: 0.25rem 0.75rem;

			@media($for-mobile) {

				margin-bottom: 0;
				margin-top: 1rem;
			}

			&:hover {

				background: #fdcf58;
				color: #800909 !important;
			}
		}

		.-meta {

			margin-top: 1rem;
			font-family: $sentinel;
			font-weight: 400 !important;

			@media ($for-mobile) {

				margin-top: 1rem;
				margin-left: auto;
				margin-right: auto;
			}

			span {

				@media ($for-mobile) {

					display: block;
				}
			}

			._website,
			._rss-feed {

				display: block;

				@media ($for-mobile) {

					margin-bottom: 0.75rem;
				}

				a {

					color: #fdcf58;
					font-family: $whitney;
					font-weight: 700;

					&:hover {

						color: #fff !important;
					}
				}

				&.-secondary {

					@media ($for-mobile) {

						display: block;
					}
				}
			}
		}

		a:hover {

			color: #fdcf58 !important;
		}
	}
}

</style>