/********
@Engaging's BEM notation:
[class-name]: block
_[class-name]: element
-[class-name]: modifier
********/

/********
@NUXT
********/

*, *:before, *:after {
     box-sizing: border-box;
     margin: 0;
}

.page-enter-active, .page-leave-active {
     transition: all 0.25s;
}

.page-enter, .page-leave-active {
      opacity: 0.9;
}

.page-enter article.-single-entry,
.page-leave-active article.-single-entry
{
     transform: translateY(50rem);
}

/*******
@MAIN
********/

.balance-text {
   text-wrap: balance;  /* Apply (proposed) CSS style */
}

html {
     -moz-osx-font-smoothing: grayscale;
     -ms-text-size-adjust: 100%;
     -webkit-font-smoothing: antialiased;
     -webkit-text-size-adjust: 100%;
     box-sizing: border-box;
     font-family: "Whitney SSm A", "Whitney SSm B", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
     font-size: 16px;
     word-spacing: 1px;

     @media ($for-reduced) {
          font-size: 15px;
     }
}

body {
     background: linear-gradient(#a2d0a2,     #f7b538,  #c32f27,          #db7c26,     #d8572a);
     font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
     font-weight: 300;
     line-height: 1.5;

     @media ($for-mobile) {
          line-height: normal;
     }
}

.wrapper {
     text-align: center;
}

.content-holder {
}

a {
     color: inherit;
     text-decoration: none;
     transition: all 0.125s;
}

a:hover.-hover-color,
a:hover > .-hover-color {
     color: #983b4c !important;
}

a.-already-here
{
     cursor: default;
}

._layout-toggler {
     position: absolute;
     color: #eee;
     font-size: 2.25rem;
     right: 0.75rem;
     top: 1.25rem;
     transition: all 0.125s;

     @media($for-mobile) {
          display: none;
     }

     &:hover {
          cursor: pointer;
          color: #fff;
     }

     &:active {
          opacity: 0.5;
     }

     svg {
          display: none;

          &.-on {
               display: inline-block;
          }
     }
}

article {
     padding-bottom: 1rem;
     text-align: left;

     @media ($for-mobile)  {
          line-height: 1.5;
     }

     h1 {
          font-size: 2rem;
          max-width: 44rem;
          padding-left: 2rem;
          padding-right: 2rem;
          margin-left: auto;
          margin-right: auto;

          @media ($for-reduced)  {
               padding-left: 1.5rem;
               padding-right: 1.5rem;
               max-width: 39rem;
          }

          @media ($for-mobile)  {
               font-size: 1.618rem;
               font-size: 1.25rem;
               font-size: 1.34rem;
          }

          @media ($for-mobile-smaller)  {
               padding-left: 1rem;
               padding-right: 1rem;
          }


     }

     &.-single-entry ._body-outer {

          a {
               color: $copper-red;

               &:hover {
                    color: $chinese-red;
               }
          }
     }

     &.-single-entry ._blurb,
     &.-single-entry ._body-outer {

          width: 100%;
          padding-bottom: 1rem;

          @media($for-non-mobile) {
               font-size: 1.125rem;
          }

          a {
               color: $copper-red;
               font-weight: bold;

               &:hover {
                    color: $chinese-red;
               }
          }

          h2
          {
               margin-left: auto;
               margin-right: auto;
               max-width: 44rem;
               font-size: 1.25em;
               padding-bottom: 1rem;
               padding-left: 2rem;
               padding-right: 2rem;

               @media ($for-reduced)  {
                    max-width: 39rem;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
               }

               @media ($for-mobile-smaller)  {
                    padding-left: 1rem;
                    padding-right: 1rem;
               }

          }

          p,
          ul,
          figure,
          ol {
               font-weight: 400;
               margin-left: auto;
               margin-right: auto;
               margin-bottom: 1em;
               max-width: 44rem;
               padding-left: 2rem;
               padding-right: 2rem;

               @media ($for-reduced)  {
                    max-width: 39rem;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
               }

               @media ($for-mobile-smaller)  {
                    padding-left: 1rem;
                    padding-right: 1rem;
               }

          }

          ul,
          ol
          {
               @media ($for-mobile-vertical) {
                    margin-left: 1.125rem;
               }
          }
     }

     &.-single-entry ._blurb p {

          font-size: 2rem;

          @media ($for-reduced)  {
               font-size: 1.618rem;
               font-size: 1.25rem;
               font-size: 1.34rem;
          }
     }

     &.-single-entry ._body {
          overflow: hidden; // breaks our little effect of the top of the activity
     }
}

.-scroll-area {
     -webkit-overflow-scrolling: touch;

     &.-wrapping {

          @media ($for-non-mobile) {
               overflow: auto;
               flex-wrap: wrap !important;
               justify-content: center !important;
          }

     }

}