<template>

<div class="wrapper">

     <articles-rack/>

     <activities-deck/>

     <!-- jobs-board/ -->

</div>

</template>


<script>

import ArticlesRack from '@/components/ArticlesRack';
import ActivitiesDeck from '@/components/ActivitiesDeck';
// import JobsBoard from '@/components/JobsBoard';

export default {
     components: {
          ArticlesRack,
          ActivitiesDeck,
          // JobsBoard
     }
}

</script>


<style lang="scss">

.content-holder {

     background-color: #c47d2b;
}

</style>