<template>

<div
	:class="[ { '-homepage': $route.path === '/'},'masthead' ]"
>
	<nuxt-link
		:class="[ { '-already-here': $route.path === '/' }, { '-not-here': $route.path != '/' }  ] "
		:to="{ path: '/' }"
		exact
	>
		<span class="_via -word">
			<span class="_v -letter">V</span><span class="_i -letter">i</span><span class="_a -letter">A</span>
		</span>
		<span class="_montessori -word">Montessori</span>
	</nuxt-link>
</div>

</template>


<style lang="scss">

.masthead {

	color: #fff;
	font-size: 1rem;
	grid-column-end: 3;
	grid-column-start: 1;
	grid-row-end: 3;
	grid-row-start: 2;
	line-height: 1em;
	margin: 0 auto;
	padding-bottom: 0.75rem;
	padding-top: 0.75rem;
	z-index: 5;

	@media ($for-mobile)  {

		padding-bottom: 0;
		padding-top: 0;
		transform: scale(0.8);
	}

	&.-homepage {

		@media ($for-non-mobile)
		{

			font-size: 1.5rem;
			grid-column-end: 2;
			grid-row-start: 1;
			justify-self: end;
			padding-bottom: 4rem; // because perspective-origin doesnt seem to work. but this makes it a bit wonky
			transform: perspective(30rem) rotateY(40deg);
		}

		@media ($for-reduced) and ($for-non-mobile) {

			padding-bottom: 3rem;
			font-size: 1.25rem;
		}

		@media ($for-larger)  {

			font-size: 1.75rem;
		}

		._tagline {

			display: block;
		}
	}

	a {

		display: grid;
	}

	.-word {

		padding: 0 0.15em;
		text-align: center;
	}

	._via {

		background: #fff;
		border-bottom: 0;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		color: $office-green;
		font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
		font-size: 2em;
		font-weight: 800;
		grid-column-end: 3;
		grid-column-start: 2;
		line-height: 1em;
		padding-bottom: 0;
		padding-top: 0.125em;
		place-self: center;
	}

	._v {

		display: inline-block;
		font-size: 0.75em;
		padding-right: 0.15em;
		transform-origin: 55% 0;
		transform: rotate(-20deg);
	}

	._i {

	}

	._a {

		display: inline-block;
		font-size: 0.75em;
		padding-left: 0.18em;
		transform-origin: 15% 100% ;
		transform: rotate(-20deg);
	}

	._montessori {

		background: $office-green;
		border-radius: 0.175em;
		border: 0.025em solid #fff;
		font-family: "Cyclone Inline A", "Cyclone Inline B", sans-serif;
		font-size: 4em;
		font-style: normal;
		font-weight: 400;
		grid-column-end: 4;
		grid-column-start: 1;
		line-height: 0.9em;
		padding-bottom: 0.04em;
		place-self: center;
		text-transform: lowercase;
	}

	// Cheat BEM again: parent modifyier affecting child behavior
	a.-not-here:hover ._montessori {

		color: #eee;
		font-family: "Cyclone A", "Cyclone B", sans-serif;
		text-shadow: 0 0 0.1em #a5fecb;
	}

}
.wrapper.-activities .masthead {

	z-index: 99;
}

</style>